<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-3 text-left">
				</div>
				<div class="col-xs-6 text-center"><strong>Hello Mean</strong></div>
				<div class="col-xs-3 text-right">
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4 text-center">
					<p>A network error has occurred; check your network connectivity and try again.</p>
					<p><button ng-click="reloadApplication()" class="btn btn-default">Reload</button></p>
				</div>
			</div>
		</div>
	</div>
</div>


